<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1 align="center">Login Here</h1>
	<br>

	<form action="" method="post" align="center">

		<label><b>Username:</b></label><br>
		<input type="text" placeholder="Enter Username" name="username"><br><br>
		
		<label> <b>Enter Password:</b></label><br>
		<input type="password" placeholder="Enter Password" name="password"><br><br>

		<input type="submit"  value="Login">
	</form>
	{% if error %}
	 <p><strong>Error:</strong>{{ error }}</p>      
	{% endif %}

</body>
</html>