<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h1 align="center">Register Here</h1>
	<br>

	<form action="" method="post" align="center">

		<label><b>Username:</b></label><br>
		<input type="text" placeholder="Enter Username" name="username" value="{{request.form.username}}"><br><br>

		<label><b>email:</b></label><br>
		<input type="text" placeholder="Enter Username" name="email" value="{{request.form.email}}"><br><br>

		<label><b>password:</b></label><br>
		<input type="text" placeholder="Enter Password" name="password" value="{{request.form.password}}"><br><br>

		<input type="submit"  value="Register">
		<p>Have account? <a href="/login">Login</a></p>
	</form>
	


</body>
</html>