<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h1 align="center">Register Here</h1>
	<br>

	<form action="" method="post" align="center">

		<label><b>Username:</b></label><br>
		<input type="text" placeholder="Enter Username" name="username"><br><br>

		<label> <b>Enter First Name:</b></label><br>
		<input type="text" placeholder="Enter First Name" name="first_name"><br><br>

		<label> <b>Enter Last Name:</b></label><br>
		<input type="text" placeholder="Enter Last Name" name="last_name"><br><br>

		<label> <b>Enter Email:</b></label><br>
		<input type="email" placeholder="Enter Email" name="email"><br><br>

		<label> <b>Enter Password:</b></label><br>
		<input type="password" placeholder="Enter Password" name="password"><br><br>

		<label> <b>Password Confirmation:</b></label><br>
		<input type="text" placeholder="Enter Password confirmation" name="password"><br><br>
		<input type="submit"  value="Register">
	</form>

</body>
</html>